:root {
  --primary-header-backgroud: rgb(0, 0, 0);
  --primary-text-color: white;
}
* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}
body {
  background-color: var(--primary-header-backgroud);
  color: var(--primary-text-color);
  height: 100%;
  margin: 0;
}

header {
  padding: 16px;
  color: var(--primary-text-color);
  background-color: var(--primary-header-backgroud);
  text-align: center;
  border-bottom: 1px solid var(--primary-text-color);
}
.main-content {
  background: var(--primary-header-backgroud);
  background-repeat: no-repeat;
  background-size: cover;
  height: 89vh;

  width: 100%;
}
.content {
  font-size: 1.2rem;
  height: 100%;
  margin-top: 20px;
  text-align: center;
}
.btn {
  height: 30%;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  padding: 0;
  justify-content: space-around;
}

button {
  background: none;
  width: 5rem;
  height: 3rem;
  border-radius: 6px;
  list-style: none;
  cursor: pointer;
}
button a {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: 1rem;
}
.display-content {
  height: 15%;
  text-align: center;
  padding: 40px;
  color: var(--primary-text-color);
}
